﻿<html lang="en">
    <head>
        <title>Bookish</title>
        <link href="/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav>
                <div class="container">
                <ul>
                <a href="/">Home</a>
                <a href="/books/addbook">Book manager</a>
                <a href="/book_list">See all books</a>
                <a href="/books/copies">Copy directory</a>
                <a href="/books/remove">Book removal</a>
                <a href="/books/edit-book">Book Editor</a>
                </div>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %} 
        </main>
    </body>
</html>